TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_FROM=+15551234567
SMS_TO=+15557654321
SMS_DRY_RUN=false
PAGERDUTY_INTEGRATION_KEY=your_pagerduty_events_api_v2_integration_key
PAGERDUTY_DRY_RUN=false
